#$ git config –get core.ignorecase  查看是否忽略大小写
#$ git config core.ignorecase true/false  设置是个否忽略大小写

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode/ipch/7e75addf4cab3d8a/mmap_address.bin

# customer setting
*.pyc
*.ipch
*.bin
*.res
.idea/vcs.xml
.idea/workspace.xml
js/pastefile.html
js/pastefile.html
.idea/misc.xml
.idea/toys.iml
.idea/modules.xml
